.intro {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 1024px) {
        overflow-y: scroll;
    }
    .upper-part {
        display: flex;
        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }
        .intro-heading {
            span {
                position: relative;
                top: 12%;
                font-size: 15rem;
                -webkit-text-fill-color: var(--dark);
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: var(--light);
                @media screen and (max-width: 1024px) {
                    top: 9%;
                    font-size: 10rem;
                }
            }
            h1 {
                margin-right: 1rem;
                font-size: 1.7rem;
                font-weight: 200;
            }
        }
        .gallery {
            width: 85vw;
            height: 60vmin;
            display: flex;
            gap: 5px;
            img {
                height: 100%;
                flex: 1;
                object-fit: cover;
                overflow: hidden;
                cursor: pointer;
                border-radius: 10px;
                transition: all 0.5s;
                &:hover {
                    flex: 4;
                }
            }
        }
    }
    .lower-part {
        @media screen and (max-width: 1024px) {
            display: flex;
            flex-direction: column;
        }
        h1 {
            margin: 1rem 0;
            text-align: center;
            font-size: 2rem;
            background: linear-gradient(90deg, #000, #fff, #000);
            letter-spacing: 5px;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            background-repeat: no-repeat;
            background-size: 80%;
            animation: shine 5s linear infinite;
            position: relative;
            @keyframes shine {
                0% {
                    background-position-x: -500%;
                }
                100% {
                    background-position-x: 500%;
                }
                }
            }
            p {
            text-align: center;
            line-height: 1.6;
            }
    }
}