.argeements-media {
    @media (min-width: 1025px) {
        display: none;
    }
}
.argeements {
    @media screen and (max-width: 1024px) {
        display: none;
    }
}
.argeements-media {
    @media screen and (max-width: 1024px) {
        overflow-y: scroll;
    }
}
.argeements,.argeements-media {
    width: 100vw;
    height: 100vh;
    .agreements-1 {
        width: 100vw;
        height: 100vh;
        margin-left: 1.2rem;
        @media screen and (max-width: 1024px) {
            margin-left: 0;
            height: 150vh;
        }
        .agreements-heading {
            span {
                font-size: 2rem;
                -webkit-text-fill-color: var(--dark);
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: var(--light);
                @media screen and (max-width: 1024px) {
                    font-size: 5rem;
                }
            }
            h1 {
                margin-right: 1rem;
                margin-bottom: 1rem;
                font-size: 1.7rem;
                font-weight: 200;
            }
        }
        .first-agreement,.second-agreement {
            h1 {
                @media screen and (max-width: 1024px) {
                    font-size: 1rem;
                }
            }
            p {
                margin: 1.2rem 0;
                @media screen and (max-width: 1024px) {
                    font-size: 0.8rem;
                }
            }
        }
    }
    .agreements-2 {
        width: 100vw;
        height: 100vh;
        margin-left: 2rem;
        @media screen and (max-width: 1024px) {
            margin-left: 0;
        }
        .first-agreement {
            p {
                margin-top: 2rem;
                line-height: 50px;
                @media screen and (max-width: 1024px) {
                    font-size: 0.8rem;
                    line-height: 20px;
                    margin-top: 1rem;
                }
            }
        }
    }
}